<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="./css/style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	  <!-- <link rel="icon" 
      type="image/png" 
      href="./html/favicon.ico"> -->
	
	<link rel="apple-touch-icon" sizes="180x180" href="./html/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="./html/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="./html/favicon/favicon-16x16.png">
	<link rel="manifest" href="./html/favicon/site.webmanifest">
	<link rel="mask-icon" href="./html/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<title>About</title>

</head>

<body>
	<div class="white">
		<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top divTitle navbar-expand-md">
  <a class="navbar-brand" id="title" href="/">MemoryBot</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
		

  <div class="collapse navbar-collapse" id="navbarSupportedContent">  
    <ul class="navbar-nav mr-auto" id="navigation">
      <li class="nav-item">
        <a class="nav-link" href="/archive">Archive</a>
      </li>
	 <li class="nav-item">
        <a class="nav-link" href="/">Homepage</a>
      </li>
    </ul>
	
    
  </div>
</nav>
	




		<div class="about">
			
				<span class="span">Memorybot</span> - a bot for memory back-up and memory exchange. <br>
				Graduation project by Nicoletta Radice <br>
				Royal Academy of Art, Den Haag <br>
				BA Graphic Design 2020 <br> <br> 
				
				<hr>
				<br> 
				When social isolation is required for the best of the community, can we make use of our collective memories as a tool to defeat loneliness? 
<br>
In these last months, Nicoletta Radice took upon a challenge which transformed into a profound journey exploring the construction of a chatbot. By feeding the bot her own memories, and memories of other people, Nicoletta created MemoryBot - a bot for memory back-up and memory exchange. 
MemoryBot is a fictitious web application, which you can interact with. 
It is a memory storage, specifically created to generate new memories in which the user can linger into. MemoryBot is not a replacement for human contact, but instead it is a speculative solution for aid and support, an exploration in the creation of artificial emotions. A project where human emotions and memories are mixed up by an emotionless machine.


				
				<br> <br>
				Supervisors: Silvio Lorusso, Thomas Buxo.
				<br> <br> 
				
				<hr>
				<br> 
				
				<span class="span2">How does it work?</span>
				<br>
				By saying out loud the word <span class="span">I want to leave a memory in the archive</span>, you will be given a form to fill in. Here you write down the memory, the place you're from and the aproximate date of the memory. Once it is sent, the memory will be stored in the archive and it will be feeding MemoryBot.
				By saying out loud the word <span class="span">I would like a new memory</span>, MemoryBot will be generating a new memory just for you. With the memory when triggered, a sound is also being played as sound can help make the memory stronger. The trigger words are the one written in cursive and they are chosen by me, the author, the curator of Memorybot.
				<br> <br>
				Tip: ask Memorybot its name or say hello.
				<br> <br><br> 
			<span class="span">Made thanks to:</span><br>
				p5.js <br>
				p5.speech.js <br>
				p5.sound.js  <br>
				rita.js <br><br>
			
				Application created using: Node, Express, MongoDB. Most of it was self-learned during my time spent at home for quarantine. 
			
			<br><br>
			
			<span class="span">Typefaces:</span> <br>
			Compagnon by VTF <br>
			Segoe UI<br>
			Consolas<br>
			Andale Mono<br><br><br><br>
			
				
	</div>
	</div>





</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

</html>